
project_id = "vqhmhsmufgcoiajgxzmm"

[api]
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[studio]
port = 54323

[inbucket]
port = 54324

[storage]
port = 54325

[auth]
port = 54326

[realtime]
port = 54327

[functions]
port = 54328
